﻿<!DOCTYPE html>
<html>
<head>
    @await RenderSectionAsync("Styles", required: false)
<!-- import CSS -->
@*<link rel="stylesheet" href="~/dist/bundle.css" />*@
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<!-- import JavaScript -->
@*<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="~/dist/bundle.js"></script>

</head>
<body>
<div id="reflexobot">
    @RenderBody()
</div>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body {
        display: block;
        margin: 0px !important;
    }
</style>