@page
@model Reflexobot.API.Pages.BotsModel
@{
        ViewData["Title"] = "Reflexobot Bots";
}

<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<!-- import JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<div class="text-center">
    <div id="app">
        <div class="common">
            test
        </div>
    </div>
</div>