@page
@model Reflexobot.API.Pages.IndexModel
@{
    ViewData["Title"] = "Reflexobot Dashboard";
}

@section Scripts {
    <script src="~/dist/app_index.js"></script>
}

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<div id="app">
    <rheader></rheader>
    <left-aside></left-aside>
    <div class="common">
        <router-view></router-view>
    </div>
</div>


<style>
  .common {
    padding-top: 100px;
    padding-left: 256px;
  }
  .top {
    display:flex;
    justify-content: start; 
  }

  .center {
    display:flex;
    justify-content: start; 
    padding-top:10px;
  }

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

@@media screen and (max-width: 900px) {
  .common {
      display: block;
  }
}

</style>