@page
@model Reflexobot.API.Pages.IndexModel
@{
    ViewData["Title"] = "Reflexobot Dashboard";
}
<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<!-- import JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<div class="text-center">
    <div id="app">
        <div class="common">
            <div id="top" class="top">
                <div>
                    <el-card class="box-card avatar">
                      <div>
                          <img src="https://cdn-icons-png.flaticon.com/512/4712/4712038.png" height="150px" weight="150px" />
                          <h2>{{botInfo.firstName}}</h2>
                      </div>
                    </el-card>
                </div>

                <div style="padding-left:10px">
                    <el-card class="box-card" v-for="course in courses">
                        <div slot="header" class="clearfix">
                        <span>{{course.name}}</span>

                        </div>
                        <div v-for="lesson in lessons" :key="lessons.guid" class="text item">
                            {{lesson.name}}
                        </div>
                    </el-card>
                </div>

                <div style="padding-left:10px" v-if=myTeacher.name>
                    <el-card class="box-card teacher">
                      <div>
                          <img :src="myTeacher.img" height="150px" weight="150px" />
                          <h2>{{myTeacher.name}}</h2>
                      </div>
                    </el-card>
                </div>
            </div>
            <div id="center" class="center">
                <div style="width:320px">
                    <el-card class="box-card achievments">
                          <h3>Мои достижения</h3>
                          <el-tooltip v-for="achievment in achievments" class="item-tooltip" effect="light" :content='achievment.description' placement="top-start">
                              <img 
                                :src='achievment.img' 
                                height="60px" 
                                weight="60px" />
                            </el-tooltip>

                    </el-card>
                </div>
                <div style="padding-left:10px">
                    <el-card v-for="chat in chats" class="box-card achievments">
                        <div style="display:flex; justify-content: left; align-items:center">
                            <span><b>{{chat.firstName}} {{chat.firstName}}</b></span>
                            <el-tooltip v-for="achievment in achievments" class="item-tooltip" effect="light" :content='achievment.description' placement="top-start">
                              <img 
                                :src='achievment.img' 
                                height="30px" 
                                weight="30px" />
                            </el-tooltip>
                        </div>

                        <div style="padding-top:5px">
                            <el-progress :text-inside="true" :stroke-width="16" :percentage="Math.floor(Math.random() * 100)" status="success"></el-progress>
                        </div>

                    </el-card>
                </div>

                <div>
                      <el-timeline>
                        <el-timeline-item v-for="lesson in lessons" timestamp="2022/06/13" placement="top">
                          <el-card>
                            <h4>{{lesson.name}}</h4>
                            <p>{{lesson.description}}</p>
                          </el-card>
                        </el-timeline-item>
    
                      </el-timeline>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

var app = new Vue({
    el: '#app',
    data: {
        courses: [],
        lessons: [],
        achievments: [],
        chats: [],
        botInfo: {},
        myTeacher: {},
        telegramUserId: '',
    },
    mounted() {
        //TODO: rewrite + authorize
        this.telegramUserId = window.location.search.substring(5);
        this.getBotInfo();
        this.getMyTeacher();
        this.getCourses();
        this.getAchievments();
        this.getChats();

    },
    methods: {
        //Get courses
        getCourses: function () {
            var self = this;
            axios.get('/courses')
            .then(function (response) {
                self.courses = response.data;
                if (self.courses !== null && self.courses) {
                    self.getLessons(self.courses[0].guid);
                }
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        //Get Lessons by course Guid
        getLessons: function (courseGuid) {
            var self = this;
            axios.get('/lessons/' + courseGuid)
            .then(function (response) {
                self.lessons = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        //Get Achievments
        getAchievments: function () {
            var self = this;
            axios.get('/achievment')
            .then(function (response) {
                self.achievments = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        //Get bot info
        getBotInfo: function () {
            var self = this;
            axios.get('/telegram/status')
            .then(function (response) {
                self.botInfo = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        //Get my current teacher
        getMyTeacher: function (telegramUserId) {
            var self = this;
            if (this.telegramUserId !== null && this.telegramUserId !== '') {
                axios.get('/teachers/' + self.telegramUserId)
                .then(function (response) {
                    self.myTeacher = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
        getChats: function() {
            var self = this;
            axios.get('/courses/chats')
            .then(function (response) {
                self.chats = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    },
})
</script>

<style>
  .common {
  
  }
  .top {
    display:flex;
    justify-content: start; 
  }

  .center {
    display:flex;
    justify-content: start; 
    padding-top:10px;
  }

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .item-tooltip {
      margin: 4px;
    }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

@@media screen and (max-width: 900px) {
  .common {
      display: block;
  }
}

</style>